<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <main>
        <%data.forEach(val=>{%>

            <h2><%=val.name%></h2>
            <p><%=val.price%></p>
            <img src="<%=val.image_link%>">
            <p><%=val.description%></p>
<form  action="/addToMyProduct" method="POST">
<input type="hidden" name="name" value="<%=val.name%>">
<input type="hidden" name="price" value="<%=val.price%>">
<input type="hidden" name="image" value="<%=val.image_link%>">
<input type="hidden" name="description" value="<%=val.description%>">
<button type="submit">add-to-card</button>
</form>
       <% })%>
    </main>
</body>
</html>